.container {
    margin: auto;
    max-width: 480px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(112, 112, 112, 0.237);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-control {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2.5rem;
    margin-top: 1rem;

    input {
        width: 100%;
        cursor: pointer;
    }

    .time {
        display: flex;
        justify-content: space-between;

        p {
            padding: 0.5rem;
        }
    }
}

.play-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 3rem;
    padding: 1rem 0 3rem 0;

    svg {
        cursor: pointer;
        color: #282828;
        transition: all 0.5s ease;

        &:hover {
            color: rgb(29, 29, 29);
        }
    }
}

.volume-slider {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .time-control {
        width: 90%;
    }

    .play-control {
        width: 80%;
    }
}